<!--<h2 class="page-header">login</h2>
<form (submit)="onLoginSubmit()">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control"[(ngModel)]="username" name="username">
    </div>
    <div class="form-group">
    <label>Password</label>
    <input type="text" class="form-control"[(ngModel)]="password" name="password">

    </div>
<input type="submit" class="btn btn-primary" value="login">
</form>-->
<body>
      <div class="box">
            <h2>User Login</h2>
        <form (submit)="onLoginSubmit()" autocomplete="off" >
        <div class="inputBox">
         
            <input type="text"  [(ngModel)]="username" name="username" required="true">
            <label>Username</label>
        </div>
        <div class="inputBox">
            <input type="password"[(ngModel)]="password" name="password" required="true">
            <label>Password</label>
        </div>
       <input type="submit" class="btn btn-primary" value="login">
      </form>
      </div>
</body>