<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<video autoplay loop id="video-background" muted plays-inline>
  <source src="https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761" type="video/mp4">
<h1>hiiiiiiiii</h1>
</video>
<body>
<div >
  <h1>Capability Maturity Assessment App</h1>
 
  <div>
    <a class="btn btn-primary col-xs-4" [routerLink]="['/register']">UserRegister</a> 
    <a class="btn btn-default col-xs-4" [routerLink]="['/login']">UserLogin</a>
   <a class="btn btn-primary col-xs-4" [routerLink]="['/adminregister']">AdminRegister</a>
    <a class="btn btn-default col-xs-4" [routerLink]="['/adminlogin']">AdminLogin</a>
    <a class="btn btn-default col-xs-4"href="https://www.linkedin.com/oauth/v2/authorization?response_type=code
				&client_id=81tebblzhe3mqx&redirect_uri=http://localhost:4200/demo&state=987654321&scope=r_basicprofile r_emailaddress">LinkedLogin</a>
    <a class="btn btn-danger col-xs-4" [routerLink]="['/social']">GoogleLogin</a>
    



  </div>
</div>
</body>


