<!--<video autoplay loop id="video-background" muted plays-inline>
  <source src="https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761" type="video/mp4">
</video>-->
<script src="https://unpkg.com/jarallax@1.9/dist/jarallax.min.js"></script>

<!-- Include it if you want to use Video parallax -->
<script src="https://unpkg.com/jarallax@1.9/dist/jarallax-video.min.js"></script>
<div class="jarallax" data-jarallax-video="https://www.youtube.com/watch?v=8-9oFxYFODE">
    Your content here...
</div>